<h1>Create</h1>
<p><label>Name: </label> {{input type="text" value=name}}</p>
<p><label>Make: </label> {{input type="text" value=make}}</p>
<p><label>Type: </label> {{input type="text" value=version}}</p>
<p><label>IMEI: </label> {{input type="text" value=imei}}</p>
<p><label>Users: </label> {{input type="text" value=user_id}}</p>

<button {{action 'save'}}>Create</button>

{{outlet}}
